<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ .Site.Params.image }}" class="img-circle" />
            </div>
        </div>
        <div class="col-md-8 text-center">
            <div class="help-block">&nbsp;</div>
            <ul class="list-inline">
                {{ if (isset .Site.Params "mail") }}
                <li>
                    <a href="mailto:{{ .Site.Params.mail }}">
                        <i class="fa fa-2x fa-envelope"></i>
                    </a>
                </li>
                {{ end }}
                {{ if (isset .Site.Params "github") }}
                <li>
                    <a href="{{ .Site.Params.github }}">
                        <i class="fa fa-2x fa-github"></i>
                    </a>
                </li>
                {{ end }}
                {{ if (isset .Site.Params "twitter") }}
                <li>
                    <a href="{{ .Site.Params.twitter }}">
                        <i class="fa fa-2x fa-twitter"></i>
                    </a>
                </li>
                {{ end }}
                {{ if (isset .Site.Params "linkedin") }}
                <li>
                    <a href="{{ .Site.Params.linkedin }}">
                        <i class="fa fa-2x fa-linkedin"></i>
                    </a>
                </li>
                {{ end }}
                {{ if (isset .Site.Params "xing") }}
                <li>
                    <a href="{{ .Site.Params.xing }}">
                        <i class="fa fa-2x fa-xing"></i>
                    </a>
                </li>
                {{ end }}
            </ul>
            <h2>{{ .Site.Params.me }}<br>
              <small>{{ .Site.Params.slogan }}</small>
            </h2>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
