<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <a name="experience"></a>
            <h2>{{ T "experience" }}</h2>
            <div class="vspace2"></div>
        </div>
        {{ range $index, $element := .Data.Pages }} {{ if eq .Type "experience"}}
        <div class="col-xs-12 col-md-12">
            <h4>{{ .Params.jobtitle }}</h4>
        </div>
        <div class="col-xs-6 col-md-6">
            <h5><a href="{{ .Params.website }}">{{ .Title | safeHTML }}</a></h5>
        </div>
        <div class="col-xs-6 col-md-6">
            <h5 class="text-right text-muted">{{ .Params.duration }}</h5>
        </div>
        <div class="col-xs-12 col-md-12">
            {{ .Content }}
        </div>
        <div class="help-block">&nbsp;</div>
        <div class="panel panel-default skill">
            <div class="panel-heading skill" role="tab" id="heading{{$index}}">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{$index}}" aria-expanded="false" aria-controls="collapseOne">
                    + {{ T "skills" }}
                  </a>
            </div>
            <div id="{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
                <div class="panel-body">
                    <ul>
                      {{ range $skill := .Params.skills }}
                      <li>{{$skill}}</li>
                      {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        {{ end }}
        <div class="help-block">&nbsp;</div>
        {{ end }}
    </div>
</div>
