<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{ T "values" }}</h2>
            <div class="vspace2" />
        </div>
        <div class="col-md-4">
            <p class="text-center"><b>{{ i18n "excellence_header" | safeHTML }}</b></p>
            <p class="text-justify">
                {{ i18n "excellence" | safeHTML }}
            </p>
        </div>
        <div class="col-md-4">
            <p class="text-center"><b>{{ i18n "learning_header" | safeHTML }}</b></p>
            <p class="text-justify">
                {{ i18n "learning" | safeHTML }}
            </p>
        </div>
        <div class="col-md-4">
            <p class="text-center"><b>{{ i18n "responsibility_header" | safeHTML }}</b></p>
            <p class="text-justify">
                {{ i18n "responsibility" | safeHTML }}
            </p>
        </div>
    </div>
    <div class="help-block hidden-sm hidden-xs">&nbsp;</div>
    <!--<div class="row">
    <div class="col-md-4 col-md-push-2 text-center">
        <b>Value 4</b>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
        </p>
    </div>
    <div class="col-md-4 col-md-push-2 text-center">
        <b>Value 5</b>
        <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>-->
<!-- <div class="col-md-12 text-center">
  <b>Schon &uuml;berzeugt:</b><br><a class="btn btn-primary btn-lg" href="#" role="button">Kontakt aufnehmen</a>
</div> -->
</div>
