<!DOCTYPE html>
<html lang="de">
<!--
  base color: 3A94D5
  accent-color: DC5452
  darker blue: 185988
  some yellow: A2A21C
  other yellow: 88881E
-->
<!--
  base color: 008B34
  accent-color: C02100
  lightest green: 32B462
  light green: 08AF46
  dark green: 00712A
  darkest green: 00521F
-->

{{ partial "head.html" . }}

<body>
    {{ partial "navigation.html" . }}

    <div class="container-fluid">
        <div class="help-block">&nbsp;</div>
        <div class="help-block">&nbsp;</div>

        {{ partial "aboutme.html" . }}

        <div class="help-block">&nbsp;</div>
        <div class="help-block">&nbsp;</div>

        <a name="values"></a>
        <!-- {{ partial "values.html" . }} -->

        <div class="help-block">&nbsp;</div>
        <div class="help-block">&nbsp;</div>

        <!-- {{ partial "experience.html" . }} -->
    </div>

</body>

</html>
