<!DOCTYPE html>
<html lang="de">
<!--
  base color: 3A94D5
  accent-color: DC5452
  darker blue: 185988
  some yellow: A2A21C
  other yellow: 88881E
-->
<!--
  base color: 008B34
  accent-color: C02100
  lightest green: 32B462
  light green: 08AF46
  dark green: 00712A
  darkest green: 00521F
-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
    <!-- genericons -->
    <link rel="stylesheet" href="fonts/genericons.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>


    {{ partial "navigation.html" . }}

    <div class="container-fluid">
        {{ partial "aboutme.html" . }}

        <a name="values"></a>
        {{ partial "values.html" . }}

        <div class="help-block">&nbsp;</div>

        {{ partial "experience.html" . }}
    </div>

</body>

</html>
